@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    background-color: #000;
    font-family: 'roboto', sans-serif;
    overflow-x: hidden;
}
/* Light Effect */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    animation: lightEffect 3s infinite;
}

@keyframes lightEffect {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}


/* navbar */

nav{
 display: flex;
 position : fixed;
 top:0;
 width: 100%;
 height: 200px;
 padding: 20px 10vw;
 justify-content: space-between;
 align-items: center;
 z-index: 9;
 transition: 0.5s;
}

/* logo */

.logo{
    width: 100px ;
}

/* navbar li */
.links-container{
    display: flex;
    list-style: none;
    gap: 10px;
}
.links{
    font-family: 'Amaranth', sans-serif;
    font-size: 2rem;
    color: gray;
    filter: brightness(50%);
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: 0.5s;
}
.links:hover{
  color: white;
  box-shadow: 0 0 5px whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
  filter: brightness(1);
}

/* avatar */
#avatar {
  width: 200px;
  border-radius: 50%;
  filter: blur(1.5px);
}

/*text typing effect */
 .typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* Hero Section */
#hero-section{
 position: relative;
 display: flex;
flex-direction: column;
 height: 100vh;
 justify-content: center;
 align-items: center;
 color: whitesmoke;
}

/* Canvas */
#hero-section canvas{
position: absolute;
top: 0;
left: 0;
z-index: 1;
}

/* Hero Content */
.hero-content {
  position: relative;
  text-align: center; 
  max-width: 90%; 
  margin: 0 auto; 
  z-index: 2;
}

/* Hero-headline */
.hero-headline {
  font-size: 3.5rem;
  font-family: 'Amaranth', sans-serif;
}

/* Hero-secondary-line */
.hero-secondary-line{
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin: 25px 0 50px;
}

/* Section */
section{
    padding: 60px 10vw;
}
.section-title{
    position: relative;
    text-align: center;
    font-size: 40px;
    color:whitesmoke;
    font-weight: 300;
    text-transform: uppercase;

}
.section-info{
    text-align: center;
    width: 50%;
    min-width: 300px;
    color:aliceblue;
    opacity: 0.5;
    margin: 3.5rem auto;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

/* filter */
.filters{
    margin: 100px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
}
.filter-btn{
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    color: azure;
    background: transparent;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s;
}
.filter-btn.active, .filter-btn:hover{
   color: #000;
   background-color: azure;
}

/* project gallery */
.project-gallery{
    position: relative;
    margin-top:80px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.project-card{
    width: 200px;
    position: relative;
    box-shadow: 0 0 10px rgb(255, 255, 255); /
}
.project-card.active{
    border: solid 10px whitesmoke;
}
.project-img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.tags{
    position: absolute;
    bottom: 10px;
    left:10px;
    color: aliceblue;
    width: 90%;
    transition:0.5s;
    opacity: 0;
}
.project-card:hover:not(.active) .tags{
    opacity: 1;
}
.project-card:hover:not(.active) .project-img{
    opacity: 0.6;
}
#project-info{
    margin-top: 100px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.project-details{
    overflow: hidden;
}
.name{
    color: whitesmoke;
    margin: 30px 0;
    font-weight: 300;
    font-size: 3rem;
    text-transform: capitalize;
}
.details{
    color: whitesmoke;
    opacity: 0.5s;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 40px;
}
.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.image:hover {
    transform: scale(1.1); /* Effet de zoom au survol */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombre légère au survol */
}
/* Btn*/
.btn{
    padding: 15px 30px;
    width: fit-content;
    background-color: #000;
    color: azure;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    margin: auto;
}
.btn-grps{
    display: flex;
    gap: 20px;
}
.btn-grps .btn{
    margin:0;

}
.btn.light{
    background:aliceblue;
    color: #000;
}
.btn.transparent{
    background: transparent;
    border: 2px solid azure;
}
.cl-card{
    margin-bottom: 10px;

}
.language{
    display: flex;
    gap: 10px;
}
.icon{
    width: 20px;
    height: 20px;
}
.language .name{
    font-size: 1rem;
    margin: 0;
}
.progress-track{
    width: 100%;
    margin: 20px 0 30px;
    height: 5px;
    background: #1A1A1A;
    border-radius: 10px;
    overflow: hidden;
}
.progress{
    transition:1s;
    width:50%;
    background: rgba(255, 255, 255, 0.9);
    height: 100%;
    border-radius: 10px;
}

nav.bg{
    background-color: #000;
}

/* About */
.about-me-container{
    margin-top: 100px;
    gap: 100px;
    display: flex;

}
.about-image-container{
    width:40%;
    height: 600px;
    position: relative;
}
.about-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.download-btn{
    position:absolute;
    bottom:30px;
    left: 50%;
    transform: translateX(-50%);
}
.personal-info{
    color: #fff;

}
.title{
    text-align: center;
    color: #fff;
    font-size:2rem;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 40px;
}
.personal-info .title{
    text-align: left;
}
.personal-info p{
    margin: 30px 0;
    font-size: 1.1rem;
}
.personal-info p span{
 opacity: 0.5;
}
.social-links{
    color: whitesmoke;
    font-size: 2rem;
    margin-right: 20px;
}
/* skilss */
.skills{
    position: relative;
    margin: 100px 0;
}
.skills-container{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.skill-card{
    width: 150px;
    height: 200px;
    background-color: #1A1A1A;
    position: relative;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
}
.skill-image{
    width: 100px;
    height: 100px;
    display: block;
    object-fit: cover;
    margin: auto;
    transition: .5s;
}
.skill-name{
    position: absolute;
    color: #FFF;
    font-size: 1.2rem;
    text-align: center;
    left: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
    transition: 0.5s;
    border-top: 5px solid #000;
}
.skill-card::after, .skill-card::before{
    content:'';
    position: absolute;
    width: 40px;
    height: 40px;
    background: #000;
    z-index: 2;
    transform: rotate(45deg);
}
.skill-card::before{
    bottom: -20px;
    left: -20px;
}
.skill-card::after{
    bottom: -20px;
    right: -20px;
}
.skill-card:hover{
    background-color: #000;
}
.skill-card:nth-child(1):hover .skill-name{
background-color: #FF5722;
}
.skill-card:nth-child(2):hover .skill-name{
background-color: #264de4;
}
.skill-card:nth-child(3):hover .skill-name{
background-color: #dd1b16;
}
.skill-card:nth-child(4):hover .skill-name{
background-color: #f0db4f;
}
.skill-card:nth-child(5):hover .skill-name{
background-color: #660099;
}
.skill-card:nth-child(6):hover .skill-name{
background-color: #00a4ef;
}
.skill-card:nth-child(7):hover .skill-name{
background-color: #2696f3;
}
.skill-card:nth-child(8):hover .skill-name{
background-color: #f0db4f;
}
.skill-card:nth-child(9):hover .skill-name{
background-color: #f37d6d;
}
.skill-card:hover .skill-image{
    transform: scale(1.1) translateY(-10px);
}
/* Education and experiences */
.edu-exp-container{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap:60px;
 position: relative;
 margin-top: 100px;
}
.edu-exp-card{
    padding-top: 15px;
    position: relative;
    color: whitesmoke;
    padding-left: 60px;
    margin-bottom: 50px;
}
.card-icon{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    color: #000;
    background-color: #FFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.time{
    padding: 15px 30px;
    background-color: #1a1a1a;
    border-radius: 30px;
}
.card-title{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 40px 0 30px;
}
.card-title span{
    opacity: 0.5s;
}
.card-info{
 line-height: 1.5rem;
}
/*Contact Section*/
.contact-container{
    margin-top: 100px;
    display: flex;
    gap: 50px;
}
.contact-details{
    width: 25%;
    color: #FFF;
}
.contact-card{
padding-top: 10px;
position: relative;
padding-left: 60px;
margin-bottom: 40px;
}
.card-title{
    text-transform: capitalize;
    opacity: 0.5;
}
.contact-form{
    width: 75%;
}
input, textarea{
    padding: 20px;
    width: 100%;
    background-color: #1A1A1A;
    color: #FFF;
    border: none;
    font-size: 1rem;
    outline: none;
    margin-bottom : 20px;
}
.name-email-input{
    gap : 20px;
    display: flex;
}
textarea{
    font-family: 'Roboto', sans-serif;
    resize: none;
    height: 300px;
}
.contact-form .btn{
   border: none;
   margin: 0;
   cursor: pointer;
   font-size: 1rem;
}
.contact-form:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.credit{
    text-align: center;
    width: 100%;
    padding: 20px;
    color: aliceblue;
    text-transform: capitalize;
    background-color: #1A1A1A;
}

/* media query */
@media screen and(max-width: 1200px){
    html{
        font-size: 15px;
    }
    .project-gallery{
        grid-template-columns: repeat(5,1fr);
    }
    .project-card{
        height: 175px;
    }
    .contact-container{
        position: relative;
        flex-direction: column;
        padding-bottom: 70px;
    }
    .contact-details{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .contact-form{
        width: 100%;
    }

}
@media screen and(max-width: 992px){
    .hero-headline{
        font-size: 3.5rem;
    }
    .filter-btn{
        padding: 10px 15px;
    }
    .project-gallery{
        grid-template-columns: repeat(4,1fr);
    }
     .project-card{
        height: 150px;
    }
    #project-info{
          grid-template-columns: repeat(1,1fr);
    }
    .cl-card{
        display: none;
    }
    .cl-card:nth-child(1),
    .cl-card:nth-child(2),
    .cl-card:nth-child(3){
        display: block;
    }
    .cl-card:nth-child(1)::after{
      content: '** Few more are hidden**';
      color: #fff;
      opacity: 0.5;
    }
    .about-me-container{
        align-items: center;
        flex-direction: column;
    }
    .about-image-container{
        width: 100%;
        min-width:300px;
        height: 500px;
    }
    .about-img{
        object-fit: contain;
    }
    .personal-info{
        width: 100%;
    }
    .edu-exp-container{
     grid-template-columns: 1fr;
    }
    .contact-container{
        flex-direction: column-reverse;
        padding-bottom: 0;
    }
    .contact-details{
        grid-template-columns: repeat(2,1fr);
    }

}
@media screen and(max-width: 735px){
    nav{
        background-color: #000;
    }
    .toggle-btn{
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 2px;
        position: relative;
        cursor: pointer;
    }
    .toggle-btn span{
        width: 80%;
        position: absolute;
        height: 2px;
        background-color: #FFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: 0.5s;
    }
    .toggle-btn span:nth-child(1){
      top: 30%;
    }
    .toggle-btn span:nth-child(3){
      top: 70%;
    }
    .toggle-btn.active span:nth-child(1){
       top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    .toggle-btn.active span:nth-child(3){
       top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }
     .toggle-btn.active span:nth-child(2){
       opacity: 0;
    }
    .links-container{
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100px;
        left: 0;
        gap: 0;
        opacity: 0;
        transition: 0.5s;
        pointer-events: none;
    }
    .links-container.active{
        opacity: 1;
        pointer-events: all;
    }
    .links{
        display: block;
        width: 100%;
        padding: 20px 10vw;
        background-color: #000;
    }
    .links:hover{
        opacity: 1;
        background-color: #000;
    }
    .project-gallery{
        grid-template-columns: repeat(3,1fr);
    }
    .skill-card{
        width: 120px;
        height: 190px;
        padding: 10px 0;
    }
    .skill-image{
        width: 70px;
        object-fit: contain;
    }
    .skill-name{
        font-size: 1rem;
    }
    .contact-details{
        grid-template-columns: repeat(1,1fr);
    }

}
@media only screen and (max-width: 768px) {
    nav {
        text-align: center; /* Aligner le texte au centre pour les petits écrans */
    }

    .links-container {
        display: none; /* Cacher les liens par défaut sur les petits écrans */
        flex-direction: column; /* Aligner les liens verticalement */
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333; /* Couleur de fond pour la lisibilité */
        z-index: 1;
    }

    .links-container.active {
        display: flex; /* Afficher les liens lorsqu'ils sont activés par le bouton de bascule */
    }

    .link-items {
        padding: 15px;
        border-bottom: 1px solid #fff; /* Ligne de séparation entre les liens */
    }

    .toggle-btn {
        display: block; /* Afficher le bouton de bascule sur les petits écrans */
        cursor: pointer;
    }

    .toggle-btn.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle-btn.active span:nth-child(2) {
        opacity: 0;
    }

    .toggle-btn.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
@media screen and(max-width: 500px){
    .hero-headline{
        font-size: 3rem;

    }
    .hero-secondary-line{
        font-size: 1.2rem;
        width: 80%;
        display: block;
        margin: 25px auto 50px;
        line-height: 2rem;
    }
    .project-gallery{
        grid-template-columns: repeat(2,1fr);
    }
    .name-email-input{
        flex-direction: column;
    }
    input:nth-child(1){
        margin-bottom: 0;
    }
 
}
.toggle-btn{
    display: none;
}
